<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.webServer>

    <!-- Add this section -->
    <security>
      <requestFiltering>
        <requestLimits maxUrl="8192" maxQueryString="8192" />
      </requestFiltering>
    </security>

    <rewrite>
      <rules>
        <!-- HTTP → HTTPS -->
        <rule name="HTTP to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action
            type="Redirect"
            url="https://{HTTP_HOST}/{R:1}"
            redirectType="Permanent"
          />
        </rule>

        <!-- IIS → Next.js -->
        <rule name="Reverse Proxy to Next.js" stopProcessing="true">
          <match url="(.*)" />
          <action
            type="Rewrite"
            url="http://localhost:3098/{R:1}"
            appendQueryString="true"
          />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>

</configuration>